* {
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #333;
}

.navbar {
    padding: 10px;
    display: flex;
    align-items: center;

    margin: 0 auto;
    border-bottom: 1px solid #2f2f2f;
}

.navbar h1 {
    color: #3b69de;
}

.navbar .links {
    margin-left: auto;
}

.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}

.navbar a:hover {
    color: #3b69de;
}